# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Hardhat
action/fhevm-hardhat-template/artifacts/
action/fhevm-hardhat-template/cache/

# Next.js
action/site/.next/
action/site/out/

# Build
dist/
coverage/

# Logs
*.log
